lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

npm-debug.log
node_modules
bower_components/*
public/*.js
public/fonts/*
public/jquery.min.map
public/*.css
public/index.html
public/template/*
.serenedirc
npm-shrinkwrap.json
manifest.yml
clicktests/configuredHelpers.js