script#aboutTemplate(type="text/mustache")
    div#bannerContainer
      div#bannerContainer(style="height: 300px; overflow: hidden; width: 1079px;")
        img#banner4(style="position: fixed; opacity: 0;", src="/images/banners/firework_banner.JPG") 
        img#banner1(style="position: fixed; opacity: 0;", src="/images/banners/jazz_banner.JPG") 
        img#banner2(style="position: fixed; opacity: 0;", src="/images/banners/dance_banner.JPG") 
        img#banner3(style="position: fixed; opacity: 0;", src="/images/banners/concert_banner.JPG") 
    div#tabs(style="margin: 10px 5px 15px 5px; min-height: 300px;")
      ul
        li
          a.aboutMenu(href="#tab1")
            | About
        li 
          a.aboutMenu(href="#tab2")
            | Contact
      #tab1
        h2
          | What is Serenedi?
        p
          | <br/>Serenedi is a new and easy way to help you find fun and exiting events around your location without any hassle.  <br/><br/>Tell Serenedi what you are interested in, and Serenedi will do its best to show you fun and exiting events that meet your interests on a map for you to see!  <br/><br/> However, please do note that Serenedi is currently at a Beta stage, which means you are more than welcome to use Serenedi but there is still a lot of work to be done on Serenedi. So if you have any problems, bugs or any suggestions, please contact us so we can work on it. 
      #tab2
        h2
          | Contact Serenedi Team!
        p
          | <br/>Serenedi is an evolving project and we would like to evolve Serenedi to people's needs and wants. <br/><br/>If you have any opinions or suggestions, or simply want to say hi, we would love to hear from you.<br/><br/><br/>
        p
          a(href="mailto:twinky@codingtwinky.com")
            | twinky@codingtwinky.com