extends layout

block content
  script(type='text/javascript', src='../bower_components/serenedi.js/index.js')
  script(type='text/javascript').
    $(function() { init(); });
  #menuBox(style="float: left; height: 100%; width:350px; margin: 0px 5px 4px 4px; padding: 10px 0px 0px 5px;").ui-state-default.ui-corner-all.ui-widget
    input#categories(type='hidden') 
    input#radius(type='hidden')
    table(cellpadding="5px")
      tr
        td(colspan="4", style="text-align: center;")
          h1
            | Event Search Settings
      tr
        td(colspan="3")
          h3
            | Map Center
        td(align="center")
            #working
      tr
        td(colspan="2")
          h4
            | Longitude:
        td(colspan="2")
          input#lng(type="text", style="width: 150px; margin-left: -40px;")
      tr
        td(colspan="2")
          h4
            | Latitude:
        td(colspan="2")
          input#lat(type="text", style="width: 150px; margin-left: -40px;")
      tr
        td(colspan="4")
          h3
            | Event Types
      tr
        td
          input#typeConfFlag.type(type="checkbox", checked="checked")
        td
          h4 Conference
        td
          input#typeConvFlag.type(type="checkbox", checked="checked")
        td
          h4 Conventions
      tr
        td
          input#typeEntFlag.type(type="checkbox", checked="checked")
        td
          h4 Entertainment
        td
          input#typeFairFlag.type(type="checkbox", checked="checked")
        td
          h4 Fair
      tr
        td
          input#typeFoodFlag.type(type="checkbox", checked="checked")
        td
          h4 Food
        td
          input#typeFundFlag.type(type="checkbox", checked="checked")
        td
          h4 Fundraisers
      tr
        td
          input#typeMeetFlag.type(type="checkbox", checked="checked")
        td
          h4 Meetings
        td
          input#typeMusicFlag.type(type="checkbox", checked="checked")
        td
          h4 Music
      tr
        td
          input#typePerfFlag.type(type="checkbox", checked="checked")
        td
          h4 Performance
        td
          input#typeRecFlag.type(type="checkbox", checked="checked")
        td
          h4 Recreations
      tr
        td
          input#typeReligFlag.type(type="checkbox", checked="checked")
        td
          h4 Religion
        td
          input#typeReunFlag.type(type="checkbox", checked="checked")
        td
          h4 Reunions
      tr
        td
          input#typeSalesFlag.type(type="checkbox", checked="checked")
        td
          h4 Sales
        td
          input#typeSemiFlag.type(type="checkbox", checked="checked")
        td
          h4 Seminar
      tr
        td
          input#typeSociFlag.type(type="checkbox", checked="checked")
        td
          h4 Social
        td
          input#typeSportsFlag.type(type="checkbox", checked="checked")
        td
          h4 Sports
      tr
        td
          input#typeTradeFlag.type(type="checkbox", checked="checked")
        td
          h4 Trade Show
        td
          input#typeTravelFlag.type(type="checkbox", checked="checked")
        td
          h4 Travel
      tr
        td
          input#typeOtherFlag.type(type="checkbox", checked="checked")
        td
          h4 Other
      tr
        td(colspan="4")
          h3
            | Dates
      tr
        td
          h4 
            | From
        td
          input#dateFrom.datePicker(type="text", style="width: 100px;")
        td
          h4 
            | to
        td
          input#dateTo.datePicker(type="text", style="width: 100px;")

            
  #mapBox(style="float: right; height: 100%; margin: 0px 5px 0px 0px; max-width: none;")

  #1andOnlyAd(style=style='position:absolute; bottom:50px; zIndex: 9999; width: 468px; height: 60px; background: rgba(0, 0, 0, 0.6);') 
    script(type="text/javascript").
      <!-- 
      google_ad_client = "ca-pub-1249793786992121";
      /* Horizontal */
      google_ad_slot = "7032401352";
      google_ad_width = 468;
      google_ad_height = 60;
      //-->
    script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js").
