extends layout

block content

  div#main
  div#about
  button#optionButton.optionShiftElement.btn.btn-default.btn-lg(type="button")
    span.optionButtonDirection.glyphicon.glyphicon-chevron-right
    span.optionButtonDirection.glyphicon.glyphicon-chevron-right(style="margin-left: -5px;")

  // serenedi-import-mustacheTemplate: "mapTemplate.html"
  // serenedi-import-mustacheTemplate: "menuTemplate.html"
  // serenedi-import-htmlTemplate: "aboutTemplate.html"
  // serenedi-import-mustacheTemplate: "infoPopUpTemplate.html"
    