extends layout

block content

  div#main
  div#about

  // serenedi-import-mustacheTemplate: "mapTemplate.html"
  // serenedi-import-mustacheTemplate: "menuTemplate.html"
  // serenedi-import-htmlTemplate: "aboutTemplate.html"
  // serenedi-import-mustacheTemplate: "infoPopUpTemplate.html"
    