extends layout

block content

  div#main
  div#about

  // serenedi-import-mustacheTemplate: "mapTemplate.html"
  // serenedi-import-mustacheTemplate: "menuTemplate.html"
  // serenedi-import-htmlTemplate: "aboutTemplate.html"
  // serenedi-import-mustacheTemplate: "infoPopUpTemplate.html"
    
  #1andOnlyAd(style=style='position:absolute; bottom:50px; zIndex: 9999; width: 468px; height: 60px; background: rgba(0, 0, 0, 0.6);') 
    script(type="text/javascript").
      <!-- 
      google_ad_client = "ca-pub-1249793786992121";
      /* Horizontal */
      google_ad_slot = "7032401352";
      google_ad_width = 468;
      google_ad_height = 60;
      //-->
    script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")