doctype html
#infoTable.container
  .row
    .col-md-12
      strong {{title}}
  .row
    .col-md-2
      | URL:
    .col-md-10
      a(href='{{url.host}}', target='_blank') {{url.host}}
      <br/>
      a(href='{{url.serenedi}}', target='_blank') {{url.serenedi}}
  .row
    .col-md-2
      | Start:
    .col-md-10
      | {{start}}
  .row
    .col-md-2
      | End:
    .col-md-10
      | {{end}}
  | {{#showAddr}}
  .row
    .col-md-2
      | Address:
    .col-md-10
      | {{addr}}
  .row
    .col-md-2
    .col-md-10
      | {{city}}, {{region}} {{zip}}
  | {{/showAddr}}

  .row
    .col-md-2
      | Category:
    .col-md-10
      | {{category}}
  .row
    .col-md-12
      .fb-like(data-href='{{url.serenedi}}', data-width='400', data-layout='standard', data-action='like', data-show-faces'true', data-share='true')
  .row
    .col-md-12
      .fb-comments(href='{{url.serenedi}}', data-numposts='2', data-width="400", data-colorscheme='light')
