div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#homeLink.navbar-brand(href="#") 
        img#statusImg(src='images/ajax-loader.gif', data-content="Working...", data-placement="bottom", data-trigger="hover", rel="popover")
        | Serenedi
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li 
          a#aboutLink(href="#", data-toggle="modal", data-target="#aboutModal") About
      ul.nav.navbar-nav.navbar-right
        .icons
          a(href='http://www.twitter.com/CodingTwinky', title="Visit JK's Twitter page") 
            img.icon.social-icons(src='/social_icons/twitter.png')
          a(href='http://www.linkedin.com/pub/jk-jung-kim/37/776/b40', title="Visit JK's LinkedIn page")
            img.icon.social-icons(src='/social_icons/linkedin.png')
          a(href='mailto:twinky@codingtwinky.com', title='Email JK')
            img.icon.social-icons(src='/social_icons/gmail.png')
    <!--/.nav-collapse -->