a.brand(href='#') 
  img(src='../images/serenedi3.ico')
a.brand(href='#', style='margin-left: -15px;') Serenedi
a.sub-brand(href='#') About
a(href='http://www.twitter.com/CodingTwinky', title="Visit JK's Twitter page") 
  img.social-icons(src='/social_icons/twitter.png')
a(href='http://www.linkedin.com/pub/jk-jung-kim/37/776/b40', title="Visit JK's LinkedIn page")
  img.social-icons(src='/social_icons/linkedin.png')
a(href='mailto:twinky@codingtwinky.com', title='Email JK')
  img.social-icons(src='/social_icons/gmail.png')